body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: #ffe6e6;
    text-align: center;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #ff6600;
}

button {
    font-size: 24px;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 20px;
}

button:hover {
    background-color: #ff9900;
}

#imagenGato {
    margin: 20px;
}
